/* .layout {
  background-color: #fff;
  height: 100%;
}

.ant-layout-header {
  padding: 0;
  height: 64px;
}

.logo {
  width: 100px;
  height: 100px;
  margin: -20px 40px 0 40px;
  float: left;
}

.header-nav {
  line-height: 64px;
  height: 64px;
  float: left;
  font-weight: 400;
}

.header-nav li {
  width: 80px;
}

.search-bar {
  width: 320px;
  float: left;
  margin: 0 40px;
}

.icon-bar {
  float: right;
}

.icon-bar .icon-btn {
  display: inline-block;
  margin-right: 20px;
}

.sider {
  background: rgb(105, 155, 184);
  height: 100%;
}

.nav-bar {
  height: 100%;
}

.content {
  padding: 24px;
  background: #fff;
  min-height: 750px;
  min-width: 800px
} */

.layout {
  background-color: #fff;
  height: 100%;
}
.search-bar{
  float: right;
  margin-right: 16px;
  width: 210px;
}
:host ::ng-deep .ant-menu-submenu-title{
  padding-left:0 !important;
}
:host ::ng-deep .logo-div {
  height: 32px;
  background-color: #fff;
  border-radius: 6px;
  margin: 16px;
}
:host ::ng-deep .logo {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
:host ::ng-deep .logo-text {
  vertical-align: middle
}
:host ::ng-deep .ant-layout-sider-collapsed .logo-text {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover {
  color: #108ee9;
}